<!doctype html>
<html>
<head>
    <title>SBSP</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<table class="table">
    <thead>
        <th>Description</th>
        <th>Link</th>
        <th>Expiration Date</th>
    </thead>
    <tbody>
    {{#each data}}
        <tr>
            <td>{{this.0.value}}</td>
            <td>
                <a href="https://{{this.1.value}}" target="_blank">{{this.1.value}}</a>
            </td>
            <td>{{this.2.value}}</td>
        </tr>
    {{/each}}
    </tbody>
</table>
</body>
</html>
